<div class="main-container">
  <div class="title">Account login</div>
  <div class="input-info">
    <form action="/" method="POST">
      <input type="email" name="emil" placeholder="Email">
      <input type="password" name="password" placeholder="password" minlength="6">
    </form>
    <button type="submit">Submit</button>
  </div>
</div>