<div class="main-container align-self-center mt-5 ">
  <div class="title h1 text-center mb-5">Account login</div>
  {{#if error}}
  <div class="failure text-danger text-center mb-1">{{error}}</div>
  {{/if}}

  <div class="input-info d-flex justify-content-center">
    <form action="/" method="POST">
      <div class="input-group-lg mb-3">
        <input class="form-control  border-dark" type="email" name="email" placeholder="Email" required>
      </div>
      <div class="input-group-lg mb-3">
        <input class="form-control  border-dark" type="password" name="password" placeholder="password" minlength="6"
          required>
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-lg border border-dark mt-3 w-50 shadow p-1 mb-2 bg-body" type="submit">Submit</button>
      </div>

    </form>
  </div>
</div>